<div class="row">
  <div class="col-xs-12">
    <h1>Bank Account List</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="addAccount()" *bankingHasClaim="'addAccount'">
      Add New Bank Account
    </button>
  </div>
</div>

<div *ngIf="accounts && accounts.length">
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th>ID</th>
        <th>Number</th>
        <th>Balance</th>
        <th>Locked</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts">
        <td>{{account.id}}</td>
        <td>{{account.number}}</td>
        <td class="text-right">{{account.balance | currency}}</td>
        <td>{{account.locked}}</td>
      </tr>
    </tbody>
  </table>
</div>
